@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css');
@import url('https://unpkg.com/boxicons@latest/css/boxicons.min.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: white;
    --lightgray-color: #EBEBEB;
    --text-color: #4A5568;
    --red-color: #FE0002;
    --black-color: #231F1C;
    --dark-red-1: #B71E23;
    --dark-red-2: #CB1C31;
}

body.index{
    background-image: none;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body{
    min-height: 100vh;
    color: var(--text-color);
    background-image: url('../images/websiteBG.png');
    background-attachment: fixed;
    background-size: 100% auto;
}


/* -------------------------------------------- Landing Page -------------------------------------------- */

/* -------------- HEADER SECTION -------------- */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 50px;
    transition: all .50s ease;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
}

.logo{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
}

.nav_bar{
    display: flex;
}

.nav_bar a{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 5px 30px;
    margin: 0 px 30px;
    transition: all .50s ease;
}

.nav_bar a:hover{
    color: var(--red-color);
}

.nav_bar a.active{
    color: var(--red-color);
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
}

button {
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(225deg, #CB1C31 0%, #7B0000 100%);
    color: white;
}

button:hover {
    background: linear-gradient(to right, #CB1C31, #4A5568);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media(max-width: 120px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .nav_bar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media(max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .nav_bar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 40vh;
        background-color: var(--dark-red-2);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .nav_bar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        color: #EBEBEB;
    }
    .nav_bar a:hover{
        color: var(--black-color);
        transform: translateY(5px);
    }
    .nav_bar a.active{
        color: var(--black-color);
    }
    .nav_bar.open{
        right: 2%;
    }
}

/* -------------- HOME SECTION -------------- */

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.right_image {
    flex: 1;
    text-align: right;
    margin: 150px 30px 0 0;
}

.right_image img {
    max-width: 100%;
    height: auto;
}

.intro {
    flex: 1;
    padding: 30px;
    text-align: left;
    margin: 200px 0 0 20px; 
}

.intro p {
    font-size: 30px; 
    font-weight: 500;
    line-height: 30px; 
    margin-bottom: 50px;
}

.intro .decorative-text div {
    font-size: 14px; 
    line-height: 21px; 
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

.red-text {
    background: linear-gradient(180deg, #7B0000 0%, rgba(145, 60, 60, 0.91) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ScheduleAppointment {
    padding-left: 10%;
    margin: 50px; 
    position: relative;
}
/* ------------------------------------ End of Landing Page ------------------------------------ */

/* -------------------------------------------- LogIn Page -------------------------------------------- */


/* -------------------------------------------- End of LogIn Page -------------------------------------------- */

/* -------------------------------------------- Sign Up Page -------------------------------------------- */


/* -------------------------------------------- End of Sign Up Page -------------------------------------------- */


/* -------------------------------------------- Home User Page -------------------------------------------- */

/* -------------------------------------------- End of Home User Page -------------------------------------------- */

/* ------------------------------------ View Appointments Page ------------------------------------ */


/* ------------------------------------ End of View Appointments Page ------------------------------------ */

/* ------------------------------------ Book Appointment Page ------------------------------------ */


/* ------------------------------------ End of Book Appointment Page ------------------------------------ */